$color-dark-grey: #4A4A4A;
$color-light-grey: #9B9B9B;
$color-lightest-grey: #F0F0F0;
$color-primary: #ED0676;
$color-secondary: #C8A331;

@import url('https://fonts.googleapis.com/css?family=Nunito');
$font-primary: 'Nunito', sans-serif;

body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.App {
    height: 100%;
    overflow-y: auto;
    padding: 15px 15px 30px 15px;
}

*, *:before, *:after {
    box-sizing: border-box;
}

p, h1, h2, h3, label, input {
    font-family: $font-primary;
    letter-spacing: 1px;
}

.title {
    font-size: 24px;
    color: white;
    text-align: center;
    margin: 0;
    margin-top: 20px;
}

form {
    margin-top: 20px;
    border-radius: 10px;
    background-color: white;
    border: 0;

    .fields-wrapper {
        padding: 15px 20px;
    }

    label {
        color: $color-primary;
        font-size: 12px;
        font-weight: normal;
        text-transform: uppercase;
        font-weight: 500;
        font-family: $font-primary;
    }

    input[type=text], input[type=password], input[type=email] {
        color: $color-dark-grey;
        font-size: 18px;
        border: 0;
        border-bottom: 1px solid $color-light-grey;
        padding-bottom: 7px;
        position: relative;
        width: calc(100% - 20px);
        margin-bottom: 20px;
        border-radius: 0;
    }

    input[type=submit] {
        margin-top: 15px;
        display: block;
        height: 53px;
        background-color: $color-secondary;
        width: 100%;
        border-radius: 0 0 10px 10px !important;
        font-size: 16px;
        color: white;
        -webkit-appearance: none;
        border: 0;
    }
}
