.PostPage {
    box-sizing: border-box;

    *,
    *:after,
    *:before {
        box-sizing: inherit;
    }
}

.posts-container {
    opacity: 1;
    transition: opacity 0.4s ease-out, filter 0.4s ease-out;
    padding: 50px;

    &.highlight {
        filter: blur(15px);
    }
}
