#user-table_wrapper {
    margin-top: 50px;

    #user-table_filter {

        label {
            width: 100%;
        }
    }

    #user-table {
        thead {

            tr {
                background: $primary;

                th {
                    color: white;
                }
            }
        }

        tr {
            background: white;

            th {
                cursor: pointer;
                position: relative;

                &:after {
                    top: 9px;
                    right: 15px;
                    font-size: 20px;
                    color: white;
                    position: absolute;
                    display: inline-block;
                    font-family: "Font Awesome 5 Free";
                }

                &.sorting:after {
                    content: "\f0dc";
                }

                &.sorting_asc:after {
                    content: "\f0de";
                }

                &.sorting_desc:after {
                    content: "\f0dd";
                }
            }

            td {

                &.status {
                    .badge {
                        color: #ffffff;
                        font-size: 1rem;
                        font-weight: 400;
                        padding: 6px 10px;
                    }
                }
            }
        }
    }
}