@import './../user/general/variables';
@import './../user/general/fonts';
@import './../user/utils/mixins';

html {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    color: white;
    min-width: 320px;
    overflow-x: hidden;
    background: #0055a0;
    font-family: $font-family-sans-serif;
}

.container--scanner {
    display: none;
}

#console-log-div {
    background: #0055a0;
    margin: 40px;
    padding: 20px!important;
    border-color: 1px solid white!important;
}

#scanner {

    .container {
        width: 100vw;
        height: 100%;
        min-height: 100vh;
        text-align: center;
        background-color: #333333;
        padding: $block-padding;

        @include backgroundImage('/images/bg_scanner.png', cover);

        h1 {
            font-size: 36px;
        }

        button#start-scanning {
            border: none;
            color: white;
            font-size: 18px;
            font-weight: 500;
            background: #0055a0;

            left: 50%;
            width: 50%;
            height: 50px;
            width: calc( 100% - 100px);
            top: 80%;
            display: block;
            position: absolute;

            border-radius: 10px;
            transform: translateX( -50% );
            transition: all 0.15s;

            &:active {
                outline: none;
                background: darken(#0055a0, 5%);
            }
        }

        #preview-container {
            display: none;
            margin-top: 15%;

            #intro {
                font-size: 24px;
            }

            #scanner-preview {
                width: 100%;
                height: auto;
                margin-top: 12px;
            }

            #scanner-canvas {
                display: none;
            }
        }
    }

    &.scanning {

        #preview-container {
            display: block;
        }

        button#start-scanning {
            display: none;
        }
    }
}

#scanFeedback {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    padding: 52px;
    display: none;
    position: absolute;
    text-align: center;
    background: transparent;
    transition: opacity 0.25s ease-in;

    #message {
        font-size: 32px;
        font-weight: 300;
    }

    #name {
        font-size: 50px;
        line-height: 60px;
        font-weight: bold;
    }

    #close-feedback {
        color: white;
        border: 2px solid white;
        font-size: 18px;
        font-weight: 500;
        padding: 0 60px;
        height: 40px;
        background: transparent;
        margin-top: 20px;
        display: block;
        border-radius: 10px;
        transition: all 0.15s;

        &:active {
            outline: none;
            color: #333333;
            background: white;
        }
    }

    &.success {
        background-color: #2EB600;
    }
    &.warning {
        background-color: #F58123;

        #message {
            font-size: 18px;
        }
    }
    &.error {
        background-color: #D0021B;
    }

    &.show {
        opacity: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    transition: opacity .2s .3s linear, height 0s 0s linear;

    &.hidden {
        opacity: 0;
        height: 0;

        transition: opacity .2s linear, height 0s .2s linear;
    }

    .loader-icon {
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: white;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;

        -webkit-animation: rotating 1s linear infinite;
        -moz-animation: rotating 1s linear infinite;
        -ms-animation: rotating 1s linear infinite;
        -o-animation: rotating 1s linear infinite;
        animation: rotating 1s linear infinite;
    }
}


@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}