.navbar-default.navbar-fixed-top{

    .navbar-nav>.open>a,
    .navbar-nav>.open>a:focus,
    .navbar-nav>.open>a:hover{
        background-color: transparent;
    }

    .dropdown-menu {
        li {
            display: list-item;
        }
    }
}

button.btn {
    margin: 2px 4px 2px 0;
}

form {
    input[type=file]{
        max-width: 100%;
    }
    .settings-label {
        padding: 6px 12px;
    }

    input.with-token {
        display: inline-block;
        max-width: calc(100% - 50px);
        //border-right: none;
        border-radius: 4px 0 0 4px;
    }
    .input-group-addon.generate-token {
        display: inline-block;
        width: 50px;
        height: 36px;
        padding: 9px 12px;
        margin-top: -2px;
    }
}

.form-switch{
    position: relative;
    width: 80px;
    height: 36px;
    line-height: 34px;

    input[type=radio] {
        width: 0;
        height: 0;
    }

    .switch {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        overflow: hidden;
        border: 1px solid #ccd0d2;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);

        label {
            display: block;
            position: absolute;
            width: 95%;
            height: 100%;
            top: 0;
            left: 0;
            text-align: center;

            transition: left .2s ease-in-out;
            cursor: pointer;

            &.on{
                background-color: #4d8dd5;
                color: #fff;
            }

            &.off{
                left: 95%;
                background-color: #fff;
            }
        }
    }

    input:checked.off + .switch{
        label {
            &.on {
                left: -90%;
            }
            &.off {
                left: 5%;
            }
        }
    }
}

.setup{

    .reset-filter-wrap {
        display: block;
        margin-bottom: 10px;
    }

    .setup-to-send-wrapper{
        box-shadow: 0 8px 27px -6px #000;

        h3{
            padding-bottom: 32px;
        }
    }

    .hide-filter, .filter, .filter-user, .item-remove {
        cursor: pointer;
    }

    .setup-table {
        position: relative;
        display: block;
        min-height: 400px;
        max-height: 800px;
        overflow-y: scroll;
    }

    #listTableBody.hide-no-content {
        tr.no-content {
            display: none;
        }
    }
}

li.list-group-item {
    &:after {
        content: '';
        display: block;
        position: relative;
        clear: both;
    }
}
