.badge {
    padding: 6px 10px;
    border-radius: 3px;
    font-size: 14px;

    &-success {
        background-color: $brand-success;
        color: white;
    }
    &-danger {
        background-color: $brand-danger;
        color: white;
    }
    &-warning {
        background-color: $brand-warning;
        color: white;
    }
    &-info {
        background-color: $brand-info;
        color: white;
    }
    &-primary {
        background-color: #0055a0;
        color: white;
    }
}