@import url( 'https://use.typekit.net/ueo0fjw.css' );

$background-color: #f7f7f7;
$border-radius: 20px;
$header-height: 95px;
$modal-header-height: 50px;
$post-form-height: 80px;
$block-padding: 50px;
$block-margin: 0;
$block-border-radius: 0;
$card-border-radius: 0;
$font-family-sans-serif: 'aaux-next', sans-serif;

/**
 * Colors
 */

$blue:    #07559e;
$white:   #ffffff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #D0021B;
$orange:  #F5A623;
$yellow:  #ffc107;
$green:   #10a184;
$teal:    #20c997;
$cyan:    #17a2b8;

$primary:       $blue;
$secondary:     $green;

$light:         #f0f0f0;
$gray:          #979797;
$dark:          #343a40;

$success:       #2EB600;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;

/**
 * Typography
 */
$font-size-base:    1rem; // Assumes the browser default, typically `16px`
$font-size-lg:      ($font-size-base * 1.5);
$font-size-sm:      ($font-size-base * .875);

$h1-font-size: 36px;
$h2-font-size: 32px;
$h3-font-size: 24px;
$h4-font-size: 20px;
$h5-font-size: 18px;
$h6-font-size: 16px;

$line-height-base: 1.5;
$line-height-lg: 2.625;

/**
 * Buttons
 */
// For each of Bootstrap's buttons, define text, background and border color.

$input-btn-padding-y:           .4375rem;
$input-btn-padding-x:           2.75rem;
$input-btn-line-height:         $line-height-base;

$input-btn-padding-y-lg:        .18rem;
$input-btn-padding-x-lg:        2.358125rem;
$input-btn-line-height-lg:      $line-height-lg;

$btn-border-radius:             10px;
$btn-border-radius-lg:          10px;
$btn-border-radius-sm:          10px;

$btn-font-weight:               500;
$btn-box-shadow:                none;
$btn-active-box-shadow:         none;

/**
 * Modals
 */
// Padding applied to the modal body
$modal-inner-padding:           20px 40px;
$modal-inner-padding-sm:        20px;
$modal-inner-padding-lg:        20px 100px;

$modal-title-line-height:       1.3;

$modal-content-bg:              white;
$modal-content-border-color:    rgba(black,.2);
$modal-content-border-width:    0;

$modal-shadow:                  0 0 34px 0 rgba(0,0,0,0.3);

$modal-backdrop-bg:             white;
$modal-backdrop-opacity:        .6;

$modal-lg:                      800px;
$modal-md:                      580px;
$modal-sm:                      300px;

$modal-transition:              all .3s ease-out;

/**
 * Forms
 */
$input-bg:                      transparent;
$input-disabled-bg:             transparent;

$input-color:                   $dark;
$input-border-color:            $gray;
$input-btn-border-width:        1px;
$input-box-shadow:              none;

$input-border-radius:           0;
$input-border-radius-lg:        0;
$input-border-radius-sm:        0;

$input-focus-border-color:      $primary;


/**
 * Paths
 */
$media-base-path: '[[!!BASE_PATH!!]]';
