.Header {
    height: $header-height;
    width: 100%;
    color: black;
    position: relative;

    .ad {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;

        img {
            vertical-align: middle;
            display: inline-block;
        }

        img:nth-child(1) {
            width: 200px;
            margin-right: 20px;
        }
        img:nth-child(2) {
            width: 60px;
        }
    }

    .logo-wrapper {
        width: 100px;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);

        img {
            width: 100%;
        }
    }
}
