.ErrorMessage {
    padding: 10px 20px;
    background-color: $danger;
    color: white;
    position: fixed;
    top: 60px;
    left: 50%;
    width: 80%;
    transform: translateX(-50%);
    border-radius: 10px;
    font-family: $font-family-sans-serif;
    text-align: center;
    z-index: 100;
}
