.PostLoader {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius:50%;

    path.rc-progress-circle-path {
        transition: stroke-dashoffset 0.15s ease 0s, stroke-dasharray 0.15s ease 0s, stroke 0.15s, stroke-width 0.06s ease 0.15s !important;
    }

    .percent-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 40px;
        font-weight: bold;
        font-family: monospace;
        color: white;
    }
}
