@mixin backgroundImage($image, $size:contain, $position:center, $repeat:no-repeat){
    // background-image: url('@{lowres-image-path}@{image}');
    // background-size: contain;
    // background-repeat: no-repeat;
    // background-position: center;

    background-image: url($media-base-path + $image);
    background-size: $size;
    background-position: $position;
    background-repeat: $repeat;

    //@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
    //only screen and (-moz-min-device-pixel-ratio: 1.5),
    //only screen and (-o-min-device-pixel-ratio: 3/2),
    //only screen and (min-device-pixel-ratio: 1.5) {
    //    background-image: url($media-base-path + $image);
    //}
}