.LearningCurvePage.post {
    .Question {
        border-radius: 10px 10px 0 0;
        p {
            margin-bottom: 0;
        }
    }
    .prevAnswer {
        position: relative;
        width: 100%;
        color: $white;
        font-family: $font-family-sans-serif;
        font-size: 16px;
        padding-bottom: 20px;
        background-color: $primary;
        height: 46px;
        border-radius: 0 0 10px 10px;
        margin-bottom: 20px;

        p {
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);

            span {
                text-transform: uppercase;
            }
        }

        &.correct {
            background-color: $success;
        }
        &.wrong {
            background-color: $danger;
        }
    }
    .ABCDCurve {
        margin-top: 30px;
    }
}
