.KnockoutPage {
    .answers {
        .KnockoutAnswer {
            position: relative;
            display: inline-block;
            width: calc(50% - 10px); // half of the margin
            height: 162px;
            border-radius: 10px;
            cursor: pointer;

            &:nth-child(1) {
                margin-right: 10px;
                background-color: $blue;
            }
            &:nth-child(2) {
                margin-left: 10px;
                background-color: $orange;
            }
            &:nth-child(3) {
                margin-right: 10px;
                margin-top: 20px;
                background-color: $pink;
            }
            &:nth-child(4) {
                margin-left: 10px;
                margin-top: 20px;
                background-color: $cyan;
            }

            p {
                margin: 0;
                padding: 0;
                top: 50%;
                left: 50%;
                position: absolute;
                transform: translate(-50%, -50%);
                font-size: 16px;
                font-family: $font-family-sans-serif;
                color: $white;
                text-align: center;

                .choice {
                    text-transform: uppercase;
                }
            }
        }
    }

    .deciding-question {
        input[type=number] {
            width: 100%;
            padding: 13px 15px;
            font-size: 18px;
            color: $dark;
            border-radius: 10px;
        }

        .SubmitButton {
            margin-top: 225px;
            //width: 100%;
        }
    }

    .outcome-wrapper {
        text-align: center;
        width: 100%;
        margin-top: 50px;

        h2 {
            color: $white;
            font-size: 30px;
            margin: 20px 0 10px;
        }
        p {
            font-size: 16px;
            color: $white;
        }
    }
}
