$border-radius: 50px;
$choice-size: 43px;

.MultipleChoiceAnswer {
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;

    .choice {
        position: relative;
        width: $choice-size;
        height: $choice-size;
        display: inline-block;
        vertical-align: top;
        background-color: $primary;
        border-radius: 10px;

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-transform: uppercase;
            font-size: 20px;
            color: $white;
        }
    }

    .answer {
        display: inline-block;
        position: relative;
        margin-left: 20px;
        border-radius: 10px;
        min-height: 60px;
        padding: 10px 15px;
        width: calc(100% - #{$choice-size} - 20px); // total - choice - margin
        background-color: rgba($white, 0.8);
        color: $primary;

        p {
            margin: 0;
        }


        &.confirmed {
            background-color: purple;
            color: white;
        }

        .verified {
            width: 100%;
            height: 100%;
            text-align: center;

            &.correct {
                background-color: green;
                color: white;
            }
            &.wrong {
                background-color: orange;
                color: white;
            }
        }

        .ConfirmBox {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 10px;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);

            .confirm-choice {
                width: 50%;
                height: 100%;
                display: inline-block;
                position: absolute;
                top: 0;
                opacity: 0;
                z-index: -1;
                transition: opacity 0.25s ease-in, transform 0.25s ease-in;

                &:active, &:focus {
                    border-radius: 10px !important;
                }

                &.confirm {
                    background-color: $success;
                    border-radius: 0 10px 10px 0;
                    right: 0;
                    transform: translateX(100%);
                }
                &.decline {
                    background-color: $danger;
                    border-radius: 10px 0 0 10px;
                    left: 0;
                    transform: translateX(-100%);
                }

                p {
                    position: absolute;
                    width: 80%;
                    padding: 15px;
                    text-align: center;
                    margin: 0;
                    top: 50%;
                    left: 50%;
                    color: $white;
                    transform: translate(-50%, -50%);
                    font-size: 16px;

                }
            }
        }
    }
}

.ABCD .MultipleChoiceAnswer {
    &.inactive {
        opacity: 0.4;
    }
    &.active {
        .answer .ConfirmBox .confirm-choice {
            z-index: 5;
            opacity: 0.8;

            &.confirm {
                transform: translateX(0);
            }

            &.decline {
                transform: translateX(0);
            }
        }
    }
    &.confirmed {
        .choice {
            background-color: $secondary;
        }
        .answer {
            background-color: rgba($secondary, 0.8);
            color: white;
        }
    }
    &.wrong {
        .answer {
            background-color: $danger;
            color: white;
        }
    }

    &.correct {
        .answer {
            background-color: $success;
            color: white;
        }
    }
}

.ABCDMultiple .MultipleChoiceAnswer {
    &.active {
        .choice {
            background-color: $secondary;
        }
    }
}

.ABCDCurve .MultipleChoiceAnswer {
    &.wrong {
        .choice {
            background-color: $danger;
        }
    }

    &.correct {
        .choice {
            background-color: $success;
        }
    }
}

.ABCDVerified .MultipleChoiceAnswer {
    opacity: 1;
    transition: opacity 0.4s ease-out;

    &.inactive {
        opacity: 0.4;
    }
}
