.PledgePage {

    p, h1, h2, h3, label, input {
        font-family: $font-family-sans-serif;
        letter-spacing: 1px;
    }

    .title {
        font-size: 24px;
        color: white;
        text-align: center;
        margin: 0;
        margin-top: 20px;
    }

    form {
        margin-top: 20px;
        border-radius: 10px;
        background-color: white;
        border: 0;

        .fields-wrapper {
            padding: 15px 20px;
        }

        label {
            color: $primary;
            font-size: 12px;
            font-weight: normal;
            text-transform: uppercase;
            font-weight: 500;
        }

        .name-wrapper {
            input[type=text] {
                color: $dark;
                font-size: 18px;
                border: 0;
                border-bottom: 1px solid $light;
                padding-bottom: 7px;
                position: relative;
                width: calc(100% - 20px);
                -webkit-appearance: none;
                border-radius: 0;
            }
        }

        .pledge {
            margin-top: 20px;
        }

        .amount-wrapper {
            background-color: $light;
            padding: 20px 10px;
            border-radius: 10px;
            margin-top: 10px;

            .currency {
                font-size: 40px;
                color: $dark;
                margin-right: 15px;
            }

            input[type=number] {
                border: 0;
                border-bottom: 1px solid $dark;
                font-size: 40px;
                width: 80%;
                background-color: transparent;
                -webkit-appearance: none;
                border-radius: 0;

                &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                  font-size: 32px;
                }
                &::-moz-placeholder { /* Firefox 19+ */
                    font-size: 32px;
                }
                &:-ms-input-placeholder { /* IE 10+ */
                    font-size: 32px;
                }
                &:-moz-placeholder { /* Firefox 18- */
                    font-size: 32px;
                }
            }
        }

        .anonymous {
            margin-top: 15px;
            label {
                text-transform: none;
                color: $dark;
            }

            input[type=checkbox] {
                float: left;
            }

            .disclaimer {
                font-size: 9px;
                color: $dark;
                margin-top: 9px;
            }
        }
        input[type=submit] {
            margin-top: 15px;
            display: block;
            height: 53px;
            background-color: $secondary;
            width: 100%;
            border-radius: 0 0 10px 10px !important;
            font-size: 16px;
            color: white;
            -webkit-appearance: none;
            border: 0;
        }
    }

    p.Thanks {
        color: white;
        font-size: 16px;
        text-align: center;
    }

    div.button {
        background-color: $secondary;
        color: white;
        text-align: center;
        height: 55px;
        border-radius: 10px;
        margin-top: 200px;

        p {
            padding: 17px 0;
        }
    }
}
