.ProgressBar {
    border-radius: 5px;
    background-color: $white;
    text-align: center;
    padding: 9px;
    position: absolute;
    right: 0;
    top: -63px;

    span {
        color: $primary;
        text-transform: uppercase;
        font-size: 14px;
    }
}
