.PushPage {

    text-align: center;

    p, h1, h2, h3, h4, h5, h6, a, a:hover, a:focus, div {
        color: white;
        font-size: 30px;
        font-weight: bold;
        line-height: 34px;
    }

    h2 {
        font-size: 40px;
        margin-bottom: 40px;
    }

    a {
        text-decoration: underline;
    }

    div {
        margin-bottom: 40px;
    }

    img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 0 30px 0 rgba(0,0,0,0.3);
    }
}
