.RangeAnswer {

    .slider-wrapper {
        position: relative;
        background-color: $white;
        border-radius: 10px;
        height: auto;
        margin-bottom: 50px;

        .label {
            display: inline-block;
            position: relative;
            top: -7px;
            color: $primary;
            font-size: 12px;
            font-family: $font-family-sans-serif;
            text-align: center;
            line-height: 15px;

            span:first-child {
                display: block;
                font-weight: bold;
            }

            span:nth-child(2) {
                font-size: 12px;
            }

            &.first {
                float: left;
                margin-left: 10px;
            }

            &.last {
                float: right;
                margin-right: 10px;
            }
        }

        .clear {
            clear: both;
            height: 0;
        }

        .slider{
            position: relative;
            width: 90%;
            height: 50px;
            margin: 0 auto;
            border-radius: 10px;
            cursor: pointer;
            display: block;

            &.sliding {
                .filler .border {
                    top: -60px;
                }
            }

            .slider-center {
              position: absolute;
              width: 100%;
              height: 8px;
              top: 0;
              bottom: 0;
              left: 0;
              margin: auto;

              /* the slider is the area on which the dragging listens to */
              background: linear-gradient(to right, $secondary, $primary);
              border: 2px solid #fff;
            }

            .filler {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 50%;
                /* Width will be controlled by JavaScript*/

                .border {
                    position: absolute;
                    right: -15px;
                    top: 0;
                    bottom: 0;
                    margin: auto 0;
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    background-color: $primary;
                    transition: top 0.1s ease-in-out;

                    span {
                        font-size: 12px;
                        color: $white;
                        font-family: $font-family-sans-serif;

                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                    /* the "border" is the thing you drag with your finger from left to right */
                }
            }


        }
    }

}
