.SubmitButton {
    width: calc(100% - 30px); // 2x base margin of 15px
    left: 15px;
    bottom: 15px;
    position: fixed;
    height: 54px;
    background-color: $secondary;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.9;
    z-index: 20;

    &.disabled {
        opacity: 0.5;
        cursor: disabled;
    }

    span {
        color: $white;
        font-family: $font-family-sans-serif;
        text-transform: lowercase;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        font-size: 20px;
    }
}

.ABCDMultiple {
    .SubmitButton {
        position: relative;
        bottom: auto;
    }
}