.WaitingPage {
    position: relative;
}

.loader-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 290px;
    height: 290px;
    z-index: 100;

    @keyframes lds-ripple {
        0% {
            top: 146px;
            left: 146px;
            width: 0px;
            height: 0px;
            opacity: 0;
        }
        50% {
            opacity: 1
        }
        100% {
            top: -22px;
            left: -22px;
            width: 320px;
            height: 320px;
            opacity: 0;
        }
    }
    .lds-ripple {
        position: relative;
    }
    .lds-ripple div {
        box-sizing: content-box;
        position: absolute;
        border-width: 8px;
        border-style: solid;
        opacity: 1;
        border-radius: 50%;
        animation: lds-ripple 1.8s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }
    .lds-ripple div:nth-child(1) {
        border-color: $primary;
    }
    .lds-ripple div:nth-child(2) {
        border-color: $secondary;
        animation-delay: -0.9s;
    }
    .lds-ripple {
        width: 290px !important;
        height: 290px !important;
        transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    }

    span {
        text-align: center;
        color: $white;
        font-size: 20px;
        font-family: $font-family-sans-serif;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
