@import url( 'https://use.typekit.net/ueo0fjw.css' );

// Bootstrap variable overrides
$blue:  #0055a0;
$green: #10a184;
$red:   #d34843;
$orange: #e17632;
$theme-colors: (
    'info':     #8eb4cb,
);
@import "node_modules/bootstrap/scss/bootstrap";
@import "../../../../js/datatables/datatables.min.css";

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    font-family: 'aaux-next', sans-serif;
}

header {
    padding: 10px 0;
    margin-bottom: 40px;
}

@import 'components/new-user';
@import 'components/user-table';