.Ad {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 20px 20px 0 0;
    background-color: white;
    height: 50px;
    z-index: 5;
    cursor: pointer;

    .message {
        font-size: 18px;
        color: black;
        text-align: center;

        p {
            display: inline-block;
            vertical-align: middle;
            margin-right: 8px;
        }

        img {
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
        }
    }

    .big-ad {
        background-color: $primary;
        text-align: center;
        bottom: -350px;
        position: absolute;
        height: 350px;
        width: 100%;
        z-index: -1;
        transform: translateY(0);
        transition: transform 0.4s ease-out, opacity 0.4s linear;
        opacity: 0;
        padding: 20px;

        a {
            color: white;
            text-decoration: none;
        }
    }

    &.expand {
        border-radius: 0;

        .big-ad {
            transform: translateY(-400px);

            &.expand {
                z-index: 10;
                opacity: 1;
                border-radius: 20px 20px 0 0;
            }

            .close {
                top: 5px;
                right: 5px;
                position: absolute;
                cursor: pointer;
                z-index: 10;
            }

            p {
                text-align: center;
                color: white;
                font-size: 14px;
                font-weight: 100;

                &.highlight {
                    font-size: 16px;
                }
            }
        }
    }
}
