.CloseButton {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: white;
    cursor: pointer;

    span {
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }
}
