.Header {
    height: $header-height;
    width: 100%;
    position: relative;

    .logo-wrapper {
        width: 60px;
        height: 60px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 15px;

        img {
            width: 100%;
        }
    }

    .Points {
        color: white;
        background-color: green;
        padding: 20px;
        font-size: 16px;
        text-align: center;
    }
}

.ClosableHeader {
    height: 50px;
    width: 100%;
    background-color: $primary;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin: 0 auto;

    @media only screen and (min-width: 768px) {
        right: 0;
        left: auto;
    }

    .title-wrapper {
        margin: 0 auto;
        color: $white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .close-takeover {
        cursor: pointer;
        position: relative;
        height: 100%;

        i {
            color: $white;
            font-size: 16px;
            top: 50%;
            left: 15px;
            transform: translateY(-50%);
            position: absolute;
        }
    }
}
