.OpenButton {
    width: 125px;
    height: 125px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    color: white;
    text-align: center;
    position: relative;
    cursor: pointer;

    .body {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .icon-wrapper {
            width: 30px;
            margin: 0 auto;

            img {
                width: 100%;
            }
        }
    }
}
