.PostForm {
    padding: 0 15px;
    position: fixed;
    bottom: 0;
    z-index: 50;
    width: 100%;
    background: transparent;

    .ImageUpload {
        display: inline-block;
        width: 30px;
        height: 30px;
        cursor: pointer;
        z-index: 15;
        position: absolute;
        top: 37%;
        transform: translateY(-50%);

        .input-wrapper {
            overflow: hidden;

            .upload-icon {
                color: $white;
                font-size: 30px;
                cursor: pointer;
                text-shadow: 1px 1px rgba( 0, 0, 0, 0.2 );
            }

            input[type=file] {
                opacity: 0;
                width: 32px;
                height: 32px;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .preview {
            width: 100vw;
            bottom: 70px;
            padding: 15px;
            position: absolute;
            margin-left: -15px;
            border-radius: 20px;
            background-color: rgba($white, 1);
            box-shadow: 0 -5px 15px rgba(0,0,0,0.2);

            .post-asset-loader-wrapper {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            .image-wrapper {
                width: 100%;

                .image-with-icon {
                    left: 50%;
                    max-height: 40vh;
                    overflow: hidden;
                    position: relative;
                    border-radius: 10px;
                    display: inline-block;
                    transform: translateX(-50%);

                    img {
                        width: auto;
                        height: auto;
                        max-width: 100%;
                        max-height: 40vh;
                        margin: 0 auto;
                        position: relative;
                    }

                    .delete-preview {
                        @include backgroundImage('/images/delete-preview.png', cover);
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 32px;
                        height: 32px;
                        border-radius: 0 10px 0 0;
                        display: block;
                    }
                }
            }
        }
    }

    .input-container {
        position: relative;
        width: 87%;
        display: inline-block;
        margin-left: 45px;

        .MessageBox {
            input[type=text] {
                color: $dark;
                border: 0;
                width: 100%;
                z-index: 20;
                height: 50px;
                display: block;
                font-size: 16px;
                line-height: 48px;
                position: relative;
                border-radius: 10px;
                padding: 0 50px 0 20px;
                background-color: $white;
                box-shadow: 0 5px 30px 0 rgba( 0, 0, 0, 0.2);

                &::placeholder {
                    color: $gray;
                    font-size: 16px;
                }
            }

            .chars-left {
                color: $white;
                font-size: 14px;
                margin-left: 10px;
                margin-top: 5px;
            }
        }

        .submit-wrapper {
            top: 11px;
            right: 10px;
            width: 30px;
            z-index: 25;
            height: 30px;
            cursor: pointer;
            overflow: hidden;
            position: absolute;
            border-radius: 50%;
            display: inline-block;

            .submit-icon {
                width: 30px;
                height: 30px;
                @include backgroundImage('/images/arrow-alt-circle-up.png', cover);
            }
        }
    }

    input[type=submit] {
        display: none;
    }
}
