.PollPage .ABCD {
    margin-top: 50px;
    width: 100%;
    list-style-type: none;
    padding: 0;

    .answer-wrapper {
        width: 100%;
        height: 85px;
        margin-bottom: 50px;

        .choice {
            vertical-align: top;
            display: inline-block;
            position: relative;
            width: 85px;
            height: 100%;
            background-color: $primary;
            border-radius: 20px;
            margin-right: 30px;

            span {
                text-transform: uppercase;
                font-size: 40px;
                font-family: $font-family-sans-serif;
                color: $white;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .ProgressBar {
            vertical-align: top;
            display: inline-block;
            position: relative;
            width: calc(100% - 30px - 85px); // minus margin choice minus width choice
            height: 100%;
            .bar {
                width: 85%;
                height: calc(100% - 4px); // minus borders 2 x 2px
                border: 2px solid white;
                border-radius: 20px;
                position: relative;
                display: inline-block;
                background-color: rgba(255, 255, 255, 0.7);

                @media only screen and (max-width: 1024px) {
                    width: 82%;
                }

                .completed {
                    background-color: $primary;
                    height: 100%;
                    transition: width 0.25s ease-out;
                    border-radius: 20px;
                }
            }

            .odometer-wrapper {
                margin-left: 50px;
                margin-top: -70px;
                letter-spacing: 1px;

                span {
                    font-size: 40px;
                    vertical-align: middle;
                    line-height: 40px;
                    font-family: $font-family-sans-serif;
                }

                .percentage {
                    margin-bottom: 1px;
                }
            }
        }
    }
}
