.AnswerTotal {
    width: 275px;
    height: 100px;
    bottom: 20px;
    left: 20px;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    border-radius: 20px;

    .answer-total-wrapper {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $primary;
        font-size: 30px;

        .total-wrapper {
            text-align: center;
            p {
                position: relative;
                font-size: 30px;
                display: inline-block;
                margin-left: 5px;

                &.text {
                    top: 2px;
                }
            }
        }

        .total-users {
            display: inline-block;
        }
    }
}
