.KnockoutPage {
    background-color: transparent;
    position: relative;

    .answers {
        padding: 0;
        margin-top: 50px;
    }

    .Question {
        text-align: center;
    }

    &.checked {
        .KnockoutAnswer.incorrect {
            transform: scale(0.5);
            opacity: 0.5;
            transition: transform 0.4s ease-out, opacity 0.4s ease-out;
        }
     }

     .answers-container.many-answers {
         .KnockoutAnswer {
             min-height: 300px;
             margin-bottom: 60px;
         }
     }

    .KnockoutAnswer {
        width: calc(50% - 30px - 6px); // margin split in two, minus border
        border-radius: 20px;
        border: 3px solid $white;
        display: inline-block;
        min-height: 350px;
        position: relative;

        p {
            color: white;
            font-size: 40px;
            padding: 58px 52px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        &.a {
            background-color: $blue;
            margin-right: 30px;
        }

        &.b {
            background-color: $orange;
            margin-left: 30px;
        }

        &.c {
            background-color: $pink;
        }

        &.d {
            background-color: $cyan;
        }
    }



    .title-wrapper {
        text-align: center;
        h1{
            font-size: 80px;
            line-height: 83px;
            font-weight: normal;
            font-family: $font-secondary;
        }
    }

    .outcome-header {
        text-align: center;
        width: 100%;

        .game-icon {
            margin-bottom: 22px;
            margin-top: 38px;
        }
    }

    .winner-wrapper {
        position: relative;
        max-width: 900px;
        margin: 40px auto;
        padding: 23px 30px;

        border-radius: 40px;
        background-color: rgba(255,255,255,.8);

        .avatar{
            position: relative;
            float: left;
            width: 98px;
            height: 98px;

            border-radius: 50%;
            border: 4px solid rgba(240, 240, 240, .7);

            background-position: top center;
            background-size: cover;
            background-repeat: no-repeat;
            background-color: $primary;
        }

        .points {
            position: relative;
            float: right;

            span {
                color: #4a4a4a;
                line-height: 106px;
                text-transform: uppercase;
                font-size: 30px;
                font-weight: 300;
            }
        }

        .name {
            position: relative;
            margin-left: 150px;

            p {
                color: #4a4a4a;
                line-height: 106px;
                font-weight: bold;
                font-size: 40px;
            }
        }
    }
}
