.GameLabel {
    right: 0;
    top: -100px;
    position: absolute;

    @media only screen and (max-width: 1024px) {
        display: none;
    }

    span {
        border-radius: 10px;
        background-color: $white;
        text-transform: uppercase;
        color: $primary;
        position: relative;
        font-family: $font-family-sans-serif;
        font-size: 32px;
        display: block;
        padding: 12px 55px;
    }
}
