.LeaderBoardPage {
    max-width: 900px;
    h2 {
        font-size: 80px;
        font-weight: bold;
        color: $white;
        margin-bottom: 33px;
    }

    .user-container {
        width: 100%;
        height: 100%;
        overflow-y: auto;

        .user {
            padding: 0 30px;
            background-color: $light;
            position: relative;
            height: 120px;
            border-bottom: 1px solid $white;

            .details-wrapper {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);

                .avatar-wrapper {
                    width: 60px;
                    height: 60px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    position: relative;
                    background-position: top center;
                    border-radius: 50%;
                    border: 4px solid $light;
                    display: inline-block;
                    vertical-align: middle;
                    background-color: $primary;
                }

                h3 {
                    color: $dark;
                    font-size: 26px;
                    vertical-align: middle;
                    display: inline-block;
                    margin-left: 40px;
                }
            }

            .points {
                position: absolute;
                top: 50%;
                left: 70%;
                transform: translate(-50%, -50%);

                font-size: 24px;
                letter-spacing: 1px;
                color: $dark;
                text-transform: uppercase;
            }

            &:first-child {
                border-radius: 40px 40px 0 0;
                background-color: $white;

                .details-wrapper {
                    h3 {
                        font-size: 30px;
                        font-weight: bold;
                    }
                }

                &:after {
                    @include backgroundImage("/images/first-place.png", cover);
                }
            }

            &:nth-child(2):after {
                @include backgroundImage("/images/second-place.png", cover);
            }

            &:nth-child(3):after {
                @include backgroundImage("/images/third-place.png", cover);
            }

            &:first-child, &:nth-child(2), &:nth-child(3) {
                &:after {
                    width: 70px;
                    height: 60px;
                    display: block;
                    position: absolute;
                    right: 30px;
                    top: 0;
                    bottom: 0;
                    content: "";
                    margin: auto 0;
                }
            }

            &:last-child {
                border-radius: 0 0 40px 40px;
                border-bottom: 0;
            }
        }
    }
}
