.OpenQuestionAnswer {
    position: absolute;
    background-color: rgba($white, 0.8);
    color: $primary;
    border-radius: 30px;
    opacity: 0;
    transform: scale(1);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    max-width: 500px;
    min-width: 300px;

    p {
        padding: 20px;
        font-size: 30px;
    }

    &.fade {
        opacity: 0.1 !important;
        transform: scale(0.4);
        z-index: -1;
    }

    &.hide {
        display: none;
    }

    &.highlight {
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%);
        width: 50%;
        background-color: white;
        color: $primary;
        padding: 65px;
        font-size: 30px;
        max-height: 550px;
        z-index: 10;
        opacity: 1 !important;
    }
}
