.Question {
    width: 100%;
    position: relative;
    background-color: rgba(0,0,0, 0.3);
    border-radius: 40px;

    p {
        color: white;
        font-size: 40px;
        margin: 0;
        font-family: $font-family-sans-serif;
        padding: 35px 50px;
    }
}
