.QuizPage {
    &.with-image {
        .img-wrapper {
            vertical-align: top;
            overflow: hidden;
            display: inline-block;
            vertical-align: top;
            width: calc(50% - 30px);
            margin-right: 60px;

            img {
                width: 100%;
                border-radius: 40px;
            }
        }

        .question-answers {
            width: calc(50% - 30px);
            display: inline-block;
            vertical-align: top;
            margin-top: 0;

            .ABCD {
                padding-left: 0;

                .QuizAnswer {
                    width: 100%;
                    float: none;
                    display: block;
                    margin-bottom: 30px;

                    .answer {
                        padding: 20px 30px;
                        min-height: 85px;
                        width: calc(100% - 85px - 100px);
                    }
                }
            }
        }
    }

    .question-answers {
        margin-top: 50px;
        width: 100%;
        list-style-type: none;
        padding: 0;

        .ABCD {
            margin-top: 50px;

            &.checked {
                .QuizAnswer {
                    &.wrong {
                        opacity: 0.4;
                        .choice {
                            background-color: $danger;
                        }
                    }
                    &.correct .choice {
                        background-color: $success;
                    }
                }
            }

            .QuizAnswer {
                width: calc(50% - 30px);
                display: inline-block;
                float: left;
                margin-bottom: 50px;
                transition: opacity 0.3s ease-out;

                .choice {
                    vertical-align: top;
                    display: inline-block;
                    position: relative;
                    width: 85px;
                    height: 85px;
                    background-color: $primary;
                    border-radius: 20px;
                    margin-right: 30px;

                    span {
                        text-transform: uppercase;
                        font-size: 40px;
                        font-family: $font-family-sans-serif;
                        color: $white;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }

                .answer {
                    border-radius: 20px;
                    background-color: rgba($white, 0.8);
                    width: calc(100% - 30px - 85px - 100px);
                    min-height: 150px;
                    padding: 30px 50px;
                    vertical-align: top;
                    display: inline-block;
                    position: relative;

                    p {
                        font-size: 36px;
                        font-family: $font-family-sans-serif;
                        color: $primary;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }

                &:nth-child(odd) {
                    margin-right: 60px;
                }
            }
        }
    }
}
